/* Task 3.4: User Avatars */
/* Overlap the avatars horizontally to take up less space */

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.avatarGroup {
  display: flex;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  
  /* Add negative margin-left to overlap for all except the first child */
}
