/* Task 3.4: User Avatars */
/* Overlap the avatars horizontally to take up less space */

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.avatarGroup {
  display: flex;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid var(--color-bg-elevated);
  object-fit: cover;

  &:not(:first-child) {
    margin-left: -15px;
  }
}
